<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiftTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LiftTool.Properties.Settings>
            <setting name="BodyWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShrugWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BenchPressWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShoulderPressWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BicepCurlWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeadliftWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SquatWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalfRaiseWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LegRaiseWeight" serializeAs="String">
                <value>0</value>
            </setting>
        </LiftTool.Properties.Settings>
    </userSettings>
</configuration>